table, th, td {
 border: 1px solid black;
    border-collapse: collapse;
    /* center the table */
    /* margin: auto; */
    margin: 0 auto;
}
table {
    background-color: rgba(255, 255, 255, 0.452);
    /* move to center of page*/
        margin-top: 1%;
}

body{
  background-image: url("artist.webp");
   margin-inline:23;
  background-repeat: no-repeat;
  background-size: cover;
}