table, th, td {
 border: 1px solid black;
    border-collapse: collapse;
    /* center the table */
    /* margin: auto; */
    margin: 0 auto;
}
table {
    background-color: rgba(255, 255, 255, 0.452);
    /* move to center of page*/
        margin-top: center;
}

body{
  background-image: url("artist.webp");
   margin-inline:23;
  background-repeat: no-repeat;
  background-size: cover;
}
form {
    margin: 0 auto; /* Center the form horizontally */
    width: 400px;
    padding: 1em;
    border: 10px solid #000000;
    border-radius: 1em;
    background-color: #f9f9f9;
}
